@import "../../../styles/variables";

.Button {
  padding: 1rem 2rem;
  font: $button;
  color: $white50;
  background: $primary100;
  border: none;
  border-radius: $small;
  cursor: pointer;
  transition: 0.2s background;
  &.fillParent {
    width: 100%;
  }
  &.error {
    background: $error100;
    justify-content: flex-start;
    margin-top: 1rem;
    &:hover {
      background: $error150;
    }
    &:active {
      background: $error50;
    }
  }
  &.google {
    background: #fff;
    color: $black150;
    margin-top: 1rem;
    &:hover {
      background: #d9d9d2;
    }
  }
  &:hover {
    background: $primary150;
  }
  &:active {
    background: $primary50;
  }
  svg {
    margin-right: 0.5rem;
  }
}
