@import "../../styles/variables";
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "contacts chat";
  grid-template-columns: 1fr 11fr;
  gap: 1rem;
}
.animated {
  transform: translate3d(0, -10rem, 0);
  animation: animatePage 0.8s forwards;
}

@keyframes animatePage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
