@import "../../styles/variables";
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "contacts chat";
  grid-template-columns: 1fr 11fr;
  gap: 1rem;
}
