@import "../../../styles/variables";

.Header {
  padding: 2rem;
  border-radius: $medium;
  grid-area: header;
  background: $bg-color;
  backdrop-filter: $bg-blur;
  h1 {
    margin-left: 1rem;
  }
}
