$success50: #33db58;
$success100: #18c33d;
$success150: #198f33;
$error50: #db3347;
$error100: #c3182c;
$error150: #8f1927;
$primary50: #6f3bde;
$primary100: #4f18c3;
$primary150: #370c92;
$black50: #0a090b;
$black100: #161519;
$black150: #1e1e20;
$white50: #f2edfe;
$white100: #cbb4fe;

// fonts
$h1: 600 32px/1.1 Rubik;
$h2: 600 24px/1.4 Rubik;
$h3: 600 18px/1.4 Rubik;
$button: 600 18px/1.4 Rubik;
$p1: 400 16px/1.4 Poppins;
$p2: 400 14px/1.4 Poppins;
$caption: 400 12px/1.4 Poppins;

// border-radius
$small: 15px;
$medium: 20px;
$large: 40px;

$bg-color: #0a090b66;
$bg-blur: blur(300px);

@mixin backgroundBlur {
  background: $bg-color;
  backdrop-filter: $bg-blur;
  box-shadow: 0px 20px 110px -37px #000000;
}
